<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Judo class:</strong>
  <%= @comment.judo_class.class_name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @comment.student.student_name %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
