<p id="notice"><%= notice %></p>
<h1>Welcome to the DIT Judo Club website.</h1>
</h2>Click <a href="https://github.com/NiallRedmond/Judo2.0">here</a> to see this project on github.</h2>

<body>


<div>
	<p>New User?<%=link_to "Sign up now!", new_student_path%></p>
</div>

<div>
	<Strong>Post a match:</strong>
	<%= link_to 'New Match', new_match_path %>
</div>

<div>
	<br>
	Search Judo classes, enter a belt level:<%= render 'judo_classes/search' %>
	<br>
	

</div>

<div id="slideshow" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slideshow" data-slide-to="0" class="active"></li>
    <li data-target="#slideshow" data-slide-to="1"></li>
    <li data-target="#slideshow" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("ss1.jpg", :size => "1200x600")%>
      <div class="carousel-caption">
      	
      </div>
    </div>
    <div class="item">
      <%= image_tag("ss2.jpg", :size => "1200x600")%>
      <div class="carousel-caption">
      	
      </div>
    </div>
    <div class="item">
      <%= image_tag("ss3.jpg", :size => "1200x600")%>
      <div class="carousel-caption">
      
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
<div>
	<%= image_tag("judohome.png", :size => "1280x852")%>
</div>