<p id="notice"><%= notice %></p>
<head>

</head>
<header>
   <h1>Judo Class List</h1>
</header>

<table>
  <thead>
    <tr>
      <th>Belt level</th>
      <th>Class name</th>
      <th>Day</th>
      <th>Time</th>
      <th>Teacher name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @judo_classes.each do |judo_class| %>
      <tr>
        <td><%= judo_class.belt_level %></td>
        <td><%= judo_class.class_name %></td>
        <td><%= judo_class.day %></td>
        <td><%= judo_class.time %></td>
        <td><%= judo_class.teacher_name %></td>
        <td><%= link_to 'Show', judo_class %></td>
        <td><%= link_to 'Edit', edit_judo_class_path(judo_class) %></td>
		<% if admin? %>
        <td><%= link_to 'Destroy', judo_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2>All training sessions take place in DIT Kevin Street.</h2>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{53.337376},#{-6.267286}&markers=#{53.337376},#{-6.267286}&zoom=18&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8"%>

