<p id="notice"><%= notice %></p>



<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Belt level:</th>
	  <th> <%= @judo_class.belt_level %></th>
    </tr>
	<tr>
      <th>Class name:</th>
	  <th><%= @judo_class.class_name %></th>
    </tr>
	<tr>
      <th>Day:</th>
	  <th> <%= @judo_class.day %></th>
    </tr>
	<tr>
      <th>Time:</th>
		<%t = @judo_class.time%>	
	  <th><%= t.strftime("%I:%M%p") %></th>
    </tr>
	<tr>
      <th>Teacher name:</th>
	  <th><%= @judo_class.teacher_name %></th>
    </tr>
	<tr>
      <th>Students currently enrolled:</th>
	  <th><% @judo_class.students.each do |student| %>
			<br>
			<%=student.student_name%>
			<%end%></th>
    </tr>

  </tbody>

</table>







<%= link_to 'Edit', edit_judo_class_path(@judo_class) %> |
<%= link_to 'Back', judo_classes_path %>

<h2>Comments:</h2>
	<%=form_for([@judo_class, Comment.new]) do |f|%>
		<%=f.text_area :content, :rows => 4, :cols => 40 %>
		<div class ="actions">
			<%= f.submit "Post a Comment"%>
		</div>
	<%end%>
	
<% if @judo_class.comments.empty?%>
		<h3>You are the first to comment</h3>
<%else%>

	<% @judo_class.comments.reverse.each do |comment| %>
	<br><font size="4">	<%= comment.content %> </font>
		<i><p><%= time_ago_in_words(comment.created_at)%> ago by
		<%=comment.student.student_name%></p></i><br>
	<%end%>
<%end%>
