
<head>

</head>
<header>
   <h1>Matches</h1>

</header>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Match name</th>
      <th>Victory</th>
      <th>Points</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_name %></td>
        <td>
		<% if match.result == true %>
		<%= match.match_name %>
		<%end%>
		</td>
        <td><%= match.match_points %></td>

        <td><%= link_to 'Show', match %></td>
		<% if admin? %> 
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<%end%>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'New Match', new_match_path %>
