<p id="notice"><%= notice %></p>


<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Match name:</th>
	  <th> <%= @match.match_name %></th>
    </tr>
	<tr>
      <th>Victor:</th>
	  <th>  
		<% if @match.result == true %>
			<%=@match.student.student_name%>
		<% else %>
			<%= @match.opposition.student_name %>
		<% end %>
	  </th>
    </tr>
	<tr>
      <th>Match points:</th>
	  <th> <%= @match.match_points %></th>
    </tr>
	<tr>
      <th>Student:</th>
	  <th><%= @match.student.student_name %></strong></th>
    </tr>
	<tr>
      <th>Opponent:</th>
	  <th><%= @match.opposition.student_name %></th>
    </tr>
	<tr>
      <th> Address:</th>
	  <th><%= @match.address %></th>
    </tr>

  </tbody>

</table>




<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@match.latitude},#{@match.longitude}&markers=#{@match.latitude},#{@match.longitude}&zoom=15&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded'%>
<br>
<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>

